<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.turp.persistancetp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".activities.MagasinListActivity"
            android:label="@string/title_activity_magasin_list" >
        </activity>
        <activity
            android:name=".activities.VisiteListActivity"
            android:label="@string/title_activity_visite_list" >
        </activity>
        <activity
            android:name=".activities.ReleveProduitListActivity"
            android:label="@string/title_activity_releve_list" >
        </activity>
        <activity
            android:name=".activities.VisiteActivity"
            android:label="@string/title_activity_visite" >
        </activity>
    </application>

</manifest>
